In [1]:
# 1 Create and insert 'nodes' Table, into London SQL database 

import sqlite3
import csv
from pprint import pprint
from time import time


sqlite_file = 'LondonDB.db'
conn = sqlite3.connect(sqlite_file)
cursor = conn.cursor()

t0 = time()


# Check if the table already exists, drop it if it does
cursor.execute('DROP TABLE IF EXISTS nodes;')
conn.commit()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS nodes(id INTEGER PRIMARY KEY, lat REAL, 
    lon REAL, user TEXT, uid INTEGER, version TEXT, changeset INTEGER, timestamp DATE)
''')

conn.commit()

# Read data
with open('nodes.csv','rb') as fin:
    dr = csv.DictReader(fin) 
    to_db=[(i['id'],i['lat'],i['lon'],i['user'].decode("utf-8"),i['uid'],i['version'],i['changeset'],i['timestamp']) for i in dr]

print "Time Taken to create lists: {} secs".format(time()-t0)

t0 = time()

# Insert data
cursor.executemany("INSERT INTO nodes(id, lat, lon, user, uid, version, changeset, timestamp) VALUES (?, ?, ?, ?,?, ?, ?, ?);", to_db)
conn.commit()
print "Time Taken to load data: {} secs".format(time()-t0)

'''

# Check correcrt import
cursor.execute('SELECT * FROM nodes')
all_rows = cursor.fetchall()
print('1):')
pprint.pprint(all_rows)
'''

conn.close()

Time Taken to create lists: 16.5566530228 secs
Time Taken to load data: 9.11194586754 secs

In [4]:
# 2 Create and insert 'nodes_tags' Table, into London SQL database 

import sqlite3
import csv
from pprint import pprint
from time import time


sqlite_file = 'LondonDB.db'
conn = sqlite3.connect(sqlite_file)
cursor = conn.cursor()

t0 = time()

# Check if the table already exists, drop it if it does
cursor.execute('''DROP TABLE IF EXISTS nodes_tags;''')
conn.commit()

# Create the table
cursor.execute('''CREATE TABLE IF NOT EXISTS nodes_tags(id INTEGER, key TEXT, value TEXT,type TEXT)
''')
conn.commit()

# Read data
with open('nodes_tags.csv','rb') as fin:
    dr = csv.DictReader(fin) 
    to_db=[(i['id'],i['key'],i['value'].decode("utf-8"),i['type']) for i in dr]

print "Time Taken to create lists: {} secs".format(time()-t0)

t0 = time()
    
# Insert data
cursor.executemany("INSERT INTO nodes_tags(id, key, value,type) VALUES (?, ?, ?, ?);", to_db)
conn.commit()

print "Time Taken to load data: {} secs".format(time()-t0)

'''
# Check correct import
cursor.execute('SELECT * FROM nodes_tags')
all_rows = cursor.fetchall()
print('1):')
pprint.pprint(all_rows)
'''

conn.close()

Time Taken to create lists: 6.54133009911 secs
Time Taken to load data: 3.06277608871 secs

In [5]:
# 3 Create and insert 'ways' Table, into London SQL database 

import sqlite3
import csv
from pprint import pprint
from time import time

sqlite_file = 'LondonDB.db'
conn = sqlite3.connect(sqlite_file)
cursor = conn.cursor()

t0 = time()

# Check if the table already exists, drop it if it does
cursor.execute('''DROP TABLE IF EXISTS ways;''')
conn.commit()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS ways(id INTEGER PRIMARY KEY, user TEXT, uid INTEGER, version TEXT, changeset INTEGER, timestamp DATE)
''')
conn.commit()

# Read data
with open('ways.csv','rb') as fin:
    dr = csv.DictReader(fin) 
    to_db=[(i['id'],i['user'].decode("utf-8"),i['uid'],i['version'],i['changeset'],i['timestamp']) for i in dr]

print "Time Taken to create lists: {} secs".format(time()-t0)

t0 = time()
    
# Insert data
cursor.executemany("INSERT INTO ways(id, user, uid, version, changeset, timestamp) VALUES (?, ?,?, ?, ?, ?);", to_db)
conn.commit()

print "Time Taken to load data: {} secs".format(time()-t0)


'''
# Check correct import
cursor.execute('SELECT * FROM ways')
all_rows = cursor.fetchall()
print('1):')
pprint.pprint(all_rows)
'''


conn.close()

Time Taken to create lists: 2.74936199188 secs
Time Taken to load data: 1.52981305122 secs

In [6]:
# 4 Create and insert 'ways_nodes' Table, into London SQL database 

import sqlite3
import csv
from pprint import pprint
from time import time

sqlite_file = 'LondonDB.db'
conn = sqlite3.connect(sqlite_file)
cursor = conn.cursor()

t0 = time()

# Check if the table already exists, drop it if it does
cursor.execute('''DROP TABLE IF EXISTS ways_nodes;''')
conn.commit()

# Create the table
cursor.execute('''CREATE TABLE IF NOT EXISTS ways_nodes(id INTEGER, node_id INTEGER, position INTEGER)
''')
conn.commit()

# Read data
with open('ways_nodes.csv','rb') as fin:
    dr = csv.DictReader(fin) 
    to_db=[(i['id'],i['node_id'],i['position']) for i in dr]

print "Time Taken to create lists: {} secs".format(time()-t0)

t0 = time()

# Insert data
cursor.executemany("INSERT INTO ways_nodes(id, node_id, position) VALUES (?, ?, ?);", to_db)
conn.commit()

print "Time Taken to load data: {} secs".format(time()-t0)


'''
# Check correct import
cursor.execute('SELECT * FROM ways_nodes')
all_rows = cursor.fetchall()
print('1):')
pprint.pprint(all_rows)
'''

conn.close()

Time Taken to create lists: 12.3907339573 secs
Time Taken to load data: 6.97501897812 secs

In [7]:
# 5 Create and insert 'ways_tags' Table, into London SQL database 

import sqlite3
import csv
from pprint import pprint
from time import time

sqlite_file = 'LondonDB.db'
conn = sqlite3.connect(sqlite_file)
cursor = conn.cursor()

t0 = time()

# Check if the table already exists, drop it if it does
cursor.execute('''DROP TABLE IF EXISTS ways_tags;''')
conn.commit()

# Create the table
cursor.execute('''CREATE TABLE IF NOT EXISTS ways_tags(id INTEGER, key TEXT, value TEXT,type TEXT)
''')
conn.commit()

# Read data
with open('ways_tags.csv','rb') as fin:
    dr = csv.DictReader(fin) 
    to_db=[(i['id'],i['key'],i['value'].decode("utf-8"),i['type']) for i in dr]

print "Time Taken to create lists: {} secs".format(time()-t0)

t0 = time()
    
# Insert data
cursor.executemany("INSERT INTO ways_tags(id, key, value,type) VALUES (?, ?, ?, ?);", to_db)
conn.commit()

print "Time Taken to load data: {} secs".format(time()-t0)

'''
# Check correct import
cursor.execute('SELECT * FROM ways_tags')
all_rows = cursor.fetchall()
print('1):')
pprint.pprint(all_rows)
'''

conn.close()

Time Taken to create lists: 8.01795601845 secs
Time Taken to load data: 3.60761904716 secs